@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

:root {
    --green-light: #adff2f;
    --green-off : #adff2f33;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: #282a36;
}

header {
    background-color: slateblue;
    border-bottom: 2px solid var(--green-off);
    padding: 32px;
    text-align: center;
    font-family: 'Roboto', sans-serif ;
    height: 100%;
    color: white;
    height: 100%;
}

header:hover {
    border-bottom: 2px solid var(--green-light);
    transition: 500ms;
}

header h1 {
    font-weight: bold;
    padding-bottom: 30px;
}

header a {
    text-decoration: none;
    padding: 30px;
    color: white;
}

header a:hover {
    color: var(--green-light);
    transition: 500ms;
}