{% extends "layout.njk"%}

{% block head %}
 <title>Foodfy - {{item.title}}</title>
{% endblock head %}

{%block content%}

<div class="recipe single-page" id="{{item.id}}">
        <img src="{{item.image}}" alt="Imagem {{item.title}}" id="img-recipe">
        <h1 >{{item.title}}</h1>
        <h2 >{{item.author}}</h2>
        <div>
            <h4>Ingredientes</h4>
            <a href="">Fechar</a>
        </div>
        <ul>
            {% for ingredient in item.ingredients %}
            <li>{{ingredient}}</li>
            {% endfor %}
        </ul>
        <div>
            <h4>Modo de Preparo</h4>
            <a href="">Fechar</a>
        </div>
        <ul>
            {% for modo in item.preparation %}
            <li>{{modo}}</li>
            {% endfor %}
        </ul>
        <div>
            <h4>Informações adicionais</h4>
            <a href="">Fechar</a>
        </div>
        <p>{{item.information}}</p>
</div>

{%endblock%}