{% extends "admin/layout.njk" %}

{% block content %}
<section class="header-fields">
    <h1>Criando Receita</h1>
    <a href="#">Salvar receita</a>
</section>
<form action="">
    {% include "admin/fields.njk" %}
</form>


{% endblock content %}